@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;
    height: 100vh;
    background: #515962;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.7rem;
}

main {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 20px 0px;
}
.card {
    width: 130px;
    height: 160px;
    perspective: 300px;
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.card:hover {
    border: 1px solid rgb(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("https://global-uploads.webflow.com/5f3108520188e7588ef687b1/620e82ff8680cd26532fff29_Logotipo%20HACK%20A%20BOSS_white%20100%20px.svg"),
        linear-gradient(grey, black);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    user-select: none;
}

.back {
    background: linear-gradient(rgb(219, 46, 190), rgb(54, 5, 44));
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    font-size: 5rem;
}

.card.flipped .content {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.menuPrincipal,
.menuFinal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuFinal {
    visibility: hidden;
}

.contenedor {
    width: 30%;
    min-width: 500px;
    height: 40%;
    min-height: 300px;
    background-image: linear-gradient(
        to top,
        rgb(54, 5, 44),
        rgb(219, 46, 190)
    );
    text-align: center;
    padding: 3rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}

.contenedor .texto h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.menuButton {
    width: 35%;
    height: 45px;
    align-self: center;
    border-radius: 40px;
    background: rgba(231, 173, 223, 0.384);
    font-weight: bold;
    font-size: 18px;
}

/* media querys */

@media screen and (max-width:660px){
    .card{
        width: 100px;
        height: 120px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.25rem;
    }
}
@media screen and (max-width:510px){
    .card{
        width: 100px;
        height: 120px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.25rem;
    }
    .contenedor{
        min-height: 100px;
        min-width: 440px;
        
    }
}
@media screen and (max-width:440px){
    .card{
        width: 80px;
        height: 100px;
    }
    .front{
        background-size: contain;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.25rem;
    }
    .contenedor{
        min-height: 80px;
        min-width: 400px;
        
    }
}
@media screen and (max-width:432px){
    .card{
        width: 80px;
        height: 100px;
    }
    .back{
        font-size: 3rem;
    }
    .front{
        background-size: contain;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.25rem;
    }
    .contenedor{
        min-height: 80px;
        min-width: 380px;
        
    }
    .contenedor .texto h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:376px){
    .card{
        width: 70px;
        height: 90px;
    }
    .front{
        background-size: contain;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.25rem;
    }
    .contenedor{
        min-height: 80px;
        min-width: 340px;
        
    }
    .contenedor .texto h1{
        font-size: 2rem;
    }
    .buttonRestart{
        margin-top: 10px;
        font-size: 15px;
    }

}
